/*dis#1a1a2e, #2e2e42pplay none y posicion absolute*/
body{
    background-image: linear-gradient(to top right, #1a1a2e, #2e2e42);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
}
h1{
    color: aliceblue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}
.Nav > ul{
    display: flex;
    list-style: none;
}
.Nav > ul > li > a{
    text-decoration: none;
    color: aliceblue;
    font-size: small;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Nav > ul > li{
    display:flex;
    flex: 1;
}

.Nav > ul > li :hover{
    color: #8799ff;
    transform: scale(0.9);
}